.navbar {
  border-bottom: 1px solid $white;
  // border: none;
  position: fixed;
  top: 0px;
  background-color: $white;
  z-index: 99;
  min-height: 50px;
  width: 100%;
  margin: 0px;
}
.navbar--inner {
  @include outer-container;
  color: $gray-darker;
  p, a, h1, h2, h3, h4, h5, h6 {
    font-family: 'Novecentowide-Medium', Arial, sans-serif;
  }
}
.navbar--elements {
  @include span-columns(12);
  @include row(table);
  // padding: 15px;
  img, p {
    margin: 15px 0px;
    display: inline-block;
  }
  img {
    width: 32px;
    vertical-align: middle;
    margin-right: 10px;
  }
  ul {
    float: right;
    li {
      @include transition(all .2s ease-in-out);
      box-sizing: border-box;
      display: inline-block;
      vertical-align: middle;
      padding: 15px;
      font-size: 16px;
      &:hover {
        background-color: $lightBlue;
        color: $white;
      }
    }
  }
}