.darkPurple-font    { color: $darkPurple; }
.purple-font        { color: $purple; }
.lightPurple-font   { color: $lightPurple; }
.lighterPurple-font { color: $lighterPurple; }
.lightBlue-font     { color: $lightBlue; }
.cream-font         { color: $cream; }

.grayLighter-font   { color: $gray-lighter; }
.grayLight-font     { color: $gray-light; }
.gray-font          { color: $gray; }
.grayDark-font      { color: $gray-dark; }
.grayDarker-font    { color: $gray-darker; }


.novecento-demibold { font-family: 'Novecentowide-DemiBold'; }

a {
  @include transition(all 0.3s ease-in-out);
  &:hover {
    color: $lightBlue;
    text-decoration: none;
  }
}