// Custom Colors
// ------------------------------

$darkPurple:    #080416;
$purple:        #330633;
$lightPurple:   #653F7F;
$lighterPurple: #bb9bd1;
$lightBlue:     #A1E2EB;
$cream:         #FAFAF5;



// Fallback Colors
// ------------------------------

$white: #fff;