.novecentosanswide-bold, %novecentosanswide-bold { 
  font-family: Novecentosanswide-Bold, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.novecentosanswide-book, %novecentosanswide-book { 
  font-family: Novecentosanswide-Book, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.novecentosanswide-demibold, %novecentosanswide-demibold { 
  font-family: Novecentosanswide-DemiBold, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.novecentosanswide-light, %novecentosanswide-light { 
  font-family: Novecentosanswide-Light, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.novecentosanswide-medium, %novecentosanswide-medium { 
  font-family: Novecentosanswide-Medium, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.novecentosanswide-normal { 
  font-family: Novecentosanswide-Normal, sans-serif;
  font-weight: normal;
  font-style: normal;
}

// FONT ICONS
@font-face {
  font-family: 'icomoon'
}