$column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(1em, 1) !default; // Gutter between each two columns
$grid-columns: 12 !default; // Total number of columns in the grid
$border-box-sizing: true !default; // Makes all elements have a border-box layout
$default-feature: min-width; // Default @media feature for the breakpoint() mixin
$default-layout-direction: LTR !default;

// Responsive Breakpoints
$palm-min: 0px;
$palm-max: 320px;
$tablet-min: 768px;
$lap-min: 1024px;
$desk-min: 1200px;
