@charset "UTF-8";

@font-face {
  font-family: "untitled-font-2";
  src:url("icon_fonts/untitled-font-2.eot");
  src:url("icon_fonts/untitled-font-2.eot?#iefix") format("embedded-opentype"),
    url("icon_fonts/untitled-font-2.woff") format("woff"),
    url("icon_fonts/untitled-font-2.ttf") format("truetype"),
    url("icon_fonts/untitled-font-2.svg#untitled-font-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-rectangle-down:before {
  content: "a";
}
.icon-arrow-rectangle-up:before {
  content: "b";
}
.icon-dribbble:before {
  content: "c";
}
.icon-linkedin-alt:before {
  content: "d";
}
.icon-behance:before {
  content: "e";
}
.icon-email:before {
  content: "f";
}
.icon-cloud-download:before {
  content: "g";
}
.icon-globe:before {
  content: "h";
}
.icon-hierarchy-6:before {
  content: "i";
}
.icon-chair-director:before {
  content: "j";
}
.icon-bow:before {
  content: "k";
}
.icon-arrow-2:before {
  content: "l";
}
.icon-flickr:before {
  content: "m";
}
.icon-github-alt:before {
  content: "n";
}
.icon-linkedin:before {
  content: "o";
}
.icon-twitter-alt:before {
  content: "p";
}
.icon-check-3:before {
  content: "q";
}
.icon-palette:before {
  content: "r";
}
.icon-html5:before {
  content: "s";
}
.icon-arrange-4-1:before {
  content: "t";
}
.icon-profile-6:before {
  content: "u";
}
.icon-next-1:before {
  content: "v";
}
.icon-stationery-1:before {
  content: "w";
}
.icon-css3:before {
  content: "x";
}
