html, body {
  font-size: 62.5%;
}

@media (min-width: $palm-min) and (max-width: $tablet-min) {
  h1 { 
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
  h2 { 
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: $novecentosanswide-book;
}

body, p {
  font-size: $base-font-size;
  font-family: 'Muli', sans-serif;
  line-height: 2rem;
}

a, a:active, a:focus {
  cursor: pointer;
  color: $gray-darker;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  &:hover {
    color: $mintGreen;
    text-decoration: none;
  }
}