h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  @extend %novecentosanswide-book;
}

a {
  color: $gray-darker;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  &:hover {
    color: $lightBlue;
    text-decoration: none;
  }
}

.hero-font {
  text-transform: uppercase;
  font-size: 4em;
  @extend %novecentosanswide-light;
}

.hero-font--gray {
  text-transform: uppercase;
  color: $gray-light;
}

.hero-font--white {
  text-transform: uppercase;
  color: $white;
}

h1 {
  margin: 0px;
  @extend %novecentosanswide-light;
  font-size: 2.5em;
}

p {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
}