// Custom Colors - Purple & Bue
////////////////////////////////////////////////////////////////////////////////

$darkPurple:    #080416;
$purple:        #330633;
$lightPurple:   #653F7F;
$lighterPurple: #bb9bd1;
$lightBlue:     #A1E2EB;
$cream:         #FAFAF5;



// Custom Colors - Aruba
////////////////////////////////////////////////////////////////////////////////

$offWhite:    #FFFED2;
$mintGreen:   #9FD6AE;
$turqoise:    #2A8782;
$blue:        #015770;
$royalPurple: #332F45;



// Fallback Colors
////////////////////////////////////////////////////////////////////////////////

$white:         #fff;
$black:         #000;
$gray-darker:   #222;
$gray-dark:     #333;
$gray:          #999;
$gray-light:    #ccc;
$gray-lighter:  #eee;



// Fonts
////////////////////////////////////////////////////////////////////////////////

$novecentosanswide-bold:     Novecentosanswide-Bold, sans-serif;
$novecentosanswide-book:     Novecentosanswide-Book, sans-serif;
$novecentosanswide-demibold: Novecentosanswide-DemiBold, sans-serif;
$novecentosanswide-light:    Novecentosanswide-Light, sans-serif;
$novecentosanswide-medium:   Novecentosanswide-Medium, sans-serif;
$novecentosanswide-normal:   Novecentosanswide-Normal, sans-serif;

$base-font-size: 16px;
