table {
  margin: ($base-line-height / 2) 0;
}

th {
  font-weight: bold;
  padding: ($base-line-height / 2.5);
  text-align: left;
}

td {
  padding: ($base-line-height / 2.5);
}

tr, td, th {
  vertical-align: middle;
}
