#about.about-container
  .tp
    .full-row
      %h1{style: "margin-bottom: 15px;"} About Me
    .full-row.xlarge-top-margin
      .one-third
        .xxlarge-padding{style: "text-align: center; border: 2px solid #555; border-radius: 3px; width: 100%"}
          %img{src: "/assets/icons/globe-white.svg", style: "width: 100px; opacity: 0.75;"}
        %p.xlarge-padding I was born and raised in Indianapolis, IN, also known as Naptown. Ever since I can remember, my family has had tickets for the Indy 500 and we go every year, rain or shine.
      .one-third
        .xxlarge-padding{style: "text-align: center; border: 2px solid #555; border-radius: 3px; width: 100%"}
          %img{src: "/assets/icons/bow-tie-white.svg", style: "width: 100px; opacity: 0.75;"}
        %p.xlarge-padding If I could live out one wild sci-fi fantasy, it would be to run off with The Doctor. Particularly the eleventh doctor, but I would take the tenth in a heartbeat. Bow ties ARE cool.
      .one-third
        .xxlarge-padding{style: "text-align: center; border: 2px solid #555; border-radius: 3px; width: 100%"}
          %img{src: "/assets/icons/director.svg", style: "width: 100px; opacity: 0.75;"}
        %p.xlarge-padding When I was in high school, I wrote, produced and directed a musical that was a Jamaican parody of Wizard of Oz. It was called "Ooman's Dream," as yes, that was as embarrassing to reveal as it was for you to read.