#about.about-container
  .row.mb-40
    .small-12.columns
      %p.c-gry I'm a UX/UI Designer currently located in Chicago, IL. I've been working as a professional designer since July of 2010. Prior to that I acquired a BA in Political Science and a BS in Informatics from Indiana University.