#about.about-container
  .row.p-20.mb-40
    .small-12.medium-1.columns
      = image_tag "/assets/jenny-logo.svg"
    .small-12.medium-11.columns
      %h4.c-dark-blue About Me
      %p.mt-10.c-gry I'm a UX/UI Designer currently located in Chicago, IL. I've been working as a professional designer since July of 2010. Prior to that I acquired a BA in Political Science and a BS in Informatics from Indiana University.