#contact.contact-container
  .full-row
    %h1.mt-50 Get in Touch
  .full-row.pb-50
    .mt-30
      .col4
        %p{style: "font-size: 1.25em; line-height: 70px;"} jenny.m.jayne@gmail.com
      .col2{style: "text-align: center;"}
        %a{"data-icon" => "c", style: "font-size: 70px", href: "http://dribbble.com/spudmarine", target: "_blank"}
      .col2{style: "text-align: center;"}
        %a{"data-icon" => "p", style: "font-size: 70px", href: "https://twitter.com/JennyJayneUX", target: "_blank"}
      .col2{style: "text-align: center;"}
        %a{"data-icon" => "o", style: "font-size: 70px", href: "www.linkedin.com/in/jenniferjayne/", target: "_blank"}
      .col2{style: "text-align: center;"}
        %a{"data-icon" => "m", style: "font-size: 70px", href: "http://www.flickr.com/photos/spudmarine/", target: "_blank"}