#contact.contact-container
  .row
    .small-12.columns
      %h1.mt-50 Get in Touch
  .row.pb-50.mt-30
    .medium-4.small-12.columns
      %p.email jenny.m.jayne@gmail.com
    .medium-2.small-3.columns
      %a{"data-icon" => "c", href: "http://dribbble.com/spudmarine", target: "_blank"}
    .medium-2.small-3.columns
      %a{"data-icon" => "p", href: "https://twitter.com/JennyJayneUX", target: "_blank"}
    .medium-2.small-3.columns
      %a{"data-icon" => "o", href: "http://www.linkedin.com/in/jenniferjayne/", target: "_blank"}
    .medium-2.small-3.columns
      %a{"data-icon" => "m", href: "http://www.flickr.com/photos/spudmarine/", target: "_blank"}