#contact.contact-container
  .full-row
    %h1.mt-50 Get in Touch
  .full-row.pb-50
    .mt-30
      .col2{style: "text-align: center;"}
        %div{"data-icon" => "f", style: "font-size: 70px"}
        Email
      .col2{style: "text-align: center;"}
        %div{"data-icon" => "c", style: "font-size: 70px"}
        Dribbble
      .col2{style: "text-align: center;"}
        %div{"data-icon" => "e", style: "font-size: 70px"}
        BeHance
      .col2{style: "text-align: center;"}
        %div{"data-icon" => "d", style: "font-size: 70px"}
        LinkedIn
      .col2{style: "text-align: center;"}
        %div{"data-icon" => "m", style: "font-size: 70px"}
        Flickr
      .col2{style: "text-align: center;"}
        %div{"data-icon" => "n", style: "font-size: 70px"}
        Github