.hero#top
  .row.hero-padding
    .small-12.columns
      %h1.hero-font.hero-font--white.js-fade-object I am a UX/UI design{gine}er.
    .small-12.columns
      %h1.hero-font.hero-font--gray.js-fade-object I make things easier.
    .small-12.columns.mt-50
      %a.link-dark.page-jump
        %div{"data-icon" => "a", style: "display: inline-block; vertical-align: middle;"}
        .novecentosanswide-light.ml-10{style: "display: inline-block; text-transform: uppercase;"} Check Out My Work
