%section.stratum-image.all-screen.navbar-clear{ style: "background-image: url(#{asset_path 'backgrounds/golden-gate2x.jpg'})" }
  .darkPurple-background.over-image-opacity.medium-left-padding.meet-screen
    .row
      .col-xs-12
        %h3.no-height-margin.cream-font.line-height-match user
  .purple-background.over-image-opacity.medium-left-padding.meet-screen
    .row
      .col-xs-12
        %h3.no-height-margin.cream-font.line-height-match experience /
  .lightPurple-background.over-image-opacity.medium-left-padding.meet-screen
    .row 
      .col-xs-12
        %h3.no-height-margin.cream-font.line-height-match user
  .lighterPurple-background.over-image-opacity.medium-left-padding.meet-screen
    .row 
      .col-xs-12
        %h3.no-height-margin.cream-font.line-height-match interface
  .cream-background.over-image-opacity.medium-side-padding.meet-screen
    .row
      .col-xs-12
        %h3.no-height-margin.line-height-match.novecento-demibold 
          designer
          %a
            %i.spud-circle-arrow-down.pull-right.line-height-match.medium-right-padding{ style: "font-size: 40px;" }