.hero.all-screen#top
  .full-row{style: "padding-top: 180px;"}
    %p.hero-font.hero-font--white.hero-font--gray.js-fade-object I am a UX/UI design{gine}er.
    %p.hero-font.hero-font--gray.js-fade-object I make things easier.
  .full-row
    %a.lead-btn.link-dark.page-jump
      %h3
        %div{"data-icon" => "a", style: "display: inline-block; vertical-align: middle;"}
        .novecentosanswide-light.ml-10{style: "display: inline-block;"} Check Out My Work
