%section.stratum-darkPurple.jump-anchor.xxlarge-bottom-padding
  .row.medium-horizontal-padding.large-bottom-margin
    .col-xs-12
      %h1.cream-font Oh Hai.
      %p.grayLight-font My name is Jenny Jayne. Welcome to my portfolio. Stay awhile, check out some of <a>my work</a>, read <a>my blog</a>, look at <a>pretty pictures</a>, or <a>get in touch</a> if you're moved to do so.
  .row.medium-horizontal-padding.medium-bottom-margin
    .col-xs-12
      %h5.gray-font recent work:
  .row.medium-horizontal-padding.small-bottom-margin
    .col-xs-12.col-md-4.cream-font
      %a
        .thumbnail.small-bottom-margin
          %img{src: "assets/work_thumbnails/gopro-homepage.png"}
        %h4.medium-bottom-margin GoPro
      %p.grayLight-font With the launch of the HER03+, GoPro's site recieved a fresh new look.
      %p.gray-font
        %small
          %em User Research, Responsive Design, Web Development
  .row.medium-horizontal-padding.small-bottom-margin
    .col-xs-12
      %hr.purple
  .row.medium-horizontal-padding.small-bottom-margin
    .col-xs-12.col-md-4.cream-font
      %a
        .thumbnail.small-bottom-margin
          %img{src: "assets/work_thumbnails/five9-homepage.jpg"}
        %h4.medium-bottom-margin Five9
      %p.grayLight-font Giving their site a makeover with the launch of a new, cloud-based platform.
      %p.gray-font
        %small
          %em Information Architecture, UX/UI Design, Responsive Design
  .row.medium-horizontal-padding.small-bottom-margin
    .col-xs-12
      %hr.purple
  .row.medium-horizontal-padding.small-bottom-margin
    .col-xs-12.col-md-4.cream-font
      %a
        .thumbnail.small-bottom-margin
          %img{src: "assets/work_thumbnails/pop.jpg"}
        %h4.medium-bottom-margin Purveyors of Pop
      %p.grayLight-font The producers behind hit reality TV shows such as Married to Medicine and Real Housewives of Miami needed a website, without all the drama.
      %p.gray-font
        %small
          %em Information Architecture, UX/UI Design
  .row.medium-horizontal-padding.xxlarge-top-margin
    .col-xs-12
      %a.btn.btn-primary.btn-block.btn-lg View Full Portfolio


