%section.stratum-darkPurple.jump-anchor
  .row.medium-side-padding.large-bottom-margin
    .col-xs-12
      %h1.cream-font Oh Hai.
      %p.grayLight-font My name is Jenny Jayne. Welcome to my portfolio. Stay awhile, check out some of my work, read my blog, look at pretty pictures, or get in touch if you're moved to do so.
  .row.medium-side-padding.medium-bottom-margin
    .col-xs-12
      %h5.gray-font recent work:
  .row.medium-side-padding.small-bottom-margin
    .col-xs-12.col-md-4.cream-font
      %a
        .thumbnail.small-bottom-margin
          %img{src: "assets/work_thumbnails/gopro-homepage.png"}
        %h4.medium-bottom-margin GoPro.com
      %p.grayLight-font With the launch of the HER03+, GoPro's site recieved a fresh new look.
      %p.gray-font
        %small
          %em User Research, Responsive Design, Web Development
