%section.stratum-darkPurple
  .row.medium-side-padding
    .col-xs-12
      %h1.gray-font Oh Hai.
      %p.grayLight-font My name is Jenny Jayne. Welcome to my portfolio. Stay awhile, check out some of my work, read my blog, look at pretty pictures, or get in touch if you're moved to do so.
  .row.medium-side-padding
    .col-xs-12
      %h5.gray-font recent work: