%nav.nav{class: home_nav?("home")}
  .row.nav__inner
    .large-3.small-12.medium-3.columns
      .nav__title
        = link_to "Jenny Jayne", root_path(:anchor => "top")
    .large-9.hide-palm.medium-9.columns
      .nav__list
        %ul
          = link_to root_path(:anchor => "portfolio") do
            %li Portfolio
          = link_to root_path(:anchor => "about") do
            %li About Me
          = link_to root_path(:anchor => "contact") do
            %li Contact


:javascript
  
  $(document).ready(function() {

    // Get nav height to clear nav
    var navHeight = $("nav").height();

    // Smoothly move the users to the sections
    $("ul a, .nav__title a").on("click", function() {

      var target = $(this).attr("href");
      var newTarget = target.replace(/\//g,'');

      $("html, body").animate({
        scrollTop: $(newTarget).offset().top - navHeight
      });
      return false;

    });

  });
