%nav.navbar.navbar-inverse.navbar-fixed-top{ role: 'navigation' }
  .navbar-header
    %button.navbar-toggle{ type: "button", "data-toggle" => "collapse", "data-target" => ".inner-spud-nav"}
      %i.icon-bar
      %i.icon-bar
      %i.icon-bar
    %a.navbar-brand Jenny Jayne
  .collapse.navbar-collapse.inner-spud-nav
    %ul.nav.navbar-nav.tablet-pull-right.desktop-pull-right
      %li
        %a Portfolio
      %li
        %a Photography
      %li
        %a About Me
      %li
        %a Blog