%nav.navbar
  .navbar--inner
    .navbar--elements
      %img{src: "/assets/icons/gray-darker-logo.svg"}
      %p Jenny Jayne
      %ul
        %li
          %a Portfolio
        %li
          %a About Me
        %li
          %a Contact