%nav.nav
  .nav__inner
    .nav__title
      = link_to "Jenny Jayne", "#top"
    .nav__list
      %ul
        = link_to "#portfolio" do
          %li Portfolio
        = link_to "#about" do
          %li About Me
        = link_to "#contact" do
          %li Contact

:javascript
  
  $(document).ready(function() {

    // Get nav height to clear nav
    var navHeight = $("nav").height();

    // Smoothly move the users to the sections
    $("ul a").on("click", function() {

      $("html, body").animate({
        scrollTop: $($(this).attr("href")).offset().top - navHeight
      });
      return false;

    });

  });