#portfolio.row.jump-anchor
  .small-12.columns
    %h1.mt-50 Portfolio
.row.mt-10.mb-50
  .small-12.columns
    %ul.large-block-grid-3
      %li.piece.gopro-redesign
        %a{href: "/gopro"}
      %li.piece.five9
        %a
      %li.piece.pop
        %a
  .small-12.columns
    %ul.large-block-grid-3
      %li.piece.excel
        %a
      %li.piece.tank18
        %a
      %li.piece.pitchbook
        %a