#portfolio.row.jump-anchor
  .small-12.columns
    %h1.mt-50 Portfolio
.row.mt-10.mb-50
  .small-12.columns
    %ul.large-block-grid-3.medium-block-grid-3.small-block-grid-1
      %li.piece.gopro-redesign
      %li.piece.five9
      %li.piece.pop
  .small-12.columns
    %ul.large-block-grid-3.medium-block-grid-3.small-block-grid-1
      %li.piece.excel
      %li.piece.tank18
      %li.piece.pitchbook