#portfolio.row.jump-anchor
  %h1.mt-50 Portfolio
.full-row.port-grid.mb-50
  .port-row
    %a.piece.gopro-redesign{href: "/gopro"}
    %a.piece.five9
    %a.piece.pop
  .port-row
    .piece.excel
    .piece.tank18
    .piece.pitchbook