.row.mt-30.mb-50
  .small-12.columns
    %ul.large-block-grid-2.medium-block-grid-2.small-block-grid-1
      %li
        %a.piece.gopro-redesign{href: gopro_work_path}
      %li
        %a.piece.five9{href: five9_work_path}
      %li
        %a.piece.pop{href: pop_work_path}
      %li
        %a.piece.excel
      %li
        %a.piece.tank18
      %li
        %a.piece.pitchbook
