.bgc-gry-lghtr.p-20.mt-20
  .row
    .small-12.medium-8.columns
      %h1.c-dark-blue Bloom Consulting Group
      %p.mb-0.c-gry
        %small January 2014 - Present
    .small-12.medium-4.columns
      = link_to "http://www.bloomconsultinggroup.com", target: "_blank", class: "btn" do
        View Live Site
        %span{"data-icon" => "n", style: "float: right; position: relative;"}
