.bgc-gry-lghtr.ptb-20.mt-20
  .row
    .small-12.medium-8.columns
      %h1.c-dark-blue Bloom Consulting Group
      %p.mb-0.c-gry
        %small January 2014 - Present
    .small-12.medium-4.columns.palm-mt-20
      = link_to "http://www.bloomconsultinggroup.com", target: "_blank", class: "btn" do
        View Live Site
        %span{"data-icon" => "n", style: "float: right; position: relative;"}
.ptb-30
  .row
    .small-12.large-8.columns
      %p Bloom Consulting Group is a small agency locted in Redmond, WA. Looking to expand their business and hire more recent grads, Bloom needed a refresh of their website. They needed something modern and colorful that would allow them to introduce who they are with bold statements typical to their brand.
      %p This was a side project that I developed with my partner on evenings and weekends. The final product was not just a renewed website, but also a CMS/admin application to allow the client to change photos and copy.
      %ul.medium-block-grid-3.small-block-grid-3.mt-20{"data-clearing" => "true"}
        %li
          %a.th{href: "assets/bloom-gallery/images/bloom-home.jpg"}
            %img{src: "assets/bloom-gallery/thumbs/bloom-home.jpg", "data-caption" => "Bloom website homepage landing hero"}
        %li
          %a.th{href: "assets/bloom-gallery/images/bloom-team-carousel.jpg"}
            %img{src: "assets/bloom-gallery/thumbs/bloom-team-carousel.jpg", "data-caption" => "Team carousel at bottom of homepage"}
        %li
          %a.th{href: "assets/bloom-gallery/images/bloom-practice-areas.jpg"}
            %img{src: "assets/bloom-gallery/thumbs/bloom-practice-areas.jpg", "data-caption" => "Practice areas landing hero"}
        %li
          %a.th{href: "assets/bloom-gallery/images/bloom-sticky-subnav.jpg"}
            %img{src: "assets/bloom-gallery/thumbs/bloom-sticky-subnav.jpg", "data-caption" => "Sticky subnavigation for long, scrolling pages"}
        %li
          %a.th{href: "assets/bloom-gallery/images/bloom-success-stories.jpg"}
            %img{src: "assets/bloom-gallery/thumbs/bloom-success-stories.jpg", "data-caption" => "New media download page"}
        %li
          %a.th{href: "assets/bloom-gallery/images/bloom-team.jpg"}
            %img{src: "assets/bloom-gallery/thumbs/bloom-team.jpg", "data-caption" => "Meet the team page with drawers for more details"}
        %li
          %a.th{href: "assets/bloom-gallery/images/bloom-careers.jpg"}
            %img{src: "assets/bloom-gallery/thumbs/bloom-careers.jpg", "data-caption" => "Careers landing page"}
        %li
          %a.th{href: "assets/bloom-gallery/images/bloom-job-posting.jpg"}
            %img{src: "assets/bloom-gallery/thumbs/bloom-job-posting.jpg", "data-caption" => "Job posting page"}
        %li
          %a.th{href: "assets/bloom-gallery/images/bloom-about.jpg"}
            %img{src: "assets/bloom-gallery/thumbs/bloom-about.jpg", "data-caption" => "Company overview and culture page"}
    .small-12.large-4.columns
      %div.p-15.c-blue.b-blue
        %p.pb-10{style: "font-weight: bold;"} PRACTICE AREAS
        .row
          .small-12.columns.pt-5
            %h5.pr-5{"data-icon" => "k", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} Information Architecture
        .row
          .small-12.columns.pt-5
            %h5.pr-5{"data-icon" => "g", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} UX/UI Design
        .row
          .small-12.columns.pt-5
            %h5.pr-5{"data-icon" => "h", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} Visual Design
        .row
          .small-12.columns.pt-5
            %h5.pr-5{"data-icon" => "l", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} Front-End Development
