= render 'nav'

.row.clear-nav
  .small-12.medium-8.columns
    %h1 GoPro
    %p
      %small May 2012 - Present
  .small-12.medium-4.columns
    %a.flt-r--desk{href: "http://www.gopro.com", target: "_blank"}
      %div{"data-icon" => "v", style: "display: inline-block; vertical-align: middle;"}
      .ml-10{style: "display: inline-block; text-transform: uppercase;"} Launch Site
.row
  .small-12.large-8.columns
    %p I worked as an UX Designer on web-related projects for GoPro for two years. When I started out, I was working for General Things, their main web development vendor. In October of 2013, General Things was acquired by GoPro and I became a full-time GoPro employee.
    %p Here are a few of our design accomplishments during my time there:
    %ul.default-ul
      %li Major website redesign, including incorporating responsivity.
      %li Major redesign of the cart and checkout flows working with a third party vendor, Netsuite.
      %li Creation of a digital style guide to unify visual styles and UI components.
      %li Architecture and development of a custom CSS framework using SCSS, SMACSS layers, BEM syntax, and atomic CSS.
      %li Instantiation of a UX research procedures and studies for all digital products.
  .large-4.columns.bg-gry-lghtr.p-30
    %p.pb-10{style: "font-weight: bold;"} PRACTICE AREAS
    .row
      .small-12.columns
        %h5.pr-5{"data-icon" => "u", style: "display: inline-block; vertical-align: middle;"}
        %p{style: "display: inline-block;"} UX Research
    .row
      .small-12.columns.pt-5
        %h5.pr-5{"data-icon" => "i", style: "display: inline-block; vertical-align: middle;"}
        %p{style: "display: inline-block;"} Information Architecture
    .row
      .small-12.columns.pt-5
        %h5.pr-5{"data-icon" => "w", style: "display: inline-block; vertical-align: middle;"}
        %p{style: "display: inline-block;"} UX/UI Design