= render 'nav'

.row.clear-nav
  .small-12.medium-8.columns
    %h1 GoPro
    %p
      %small March 2012 - Present
  .small-12.medium-4.columns
    %a.flt-r--desk{href: "http://www.gopro.com", target: "_blank"}
      %div{"data-icon" => "v", style: "display: inline-block; vertical-align: middle;"}
      .ml-5{style: "display: inline-block; text-transform: uppercase;"} Launch Site
.row
  .small-12.large-8.columns
    %p I worked as an UX Designer on web-related projects for GoPro for two years. When I started out, I was working for General Things, their main web development vendor. In October of 2013, General Things was acquired by GoPro and I became a full-time GoPro employee. I was the only dedicated designer in our shop for a year and a half. As such, I learned to where a variety of hats and expanded my skills in UX research, information architecture, visual design and front-end development while strengthening my skills in UX design.
    %p Below are a few of the major projects I worked on at GoPro.
    %h5.pt-15.c-sea-grn E-Commerce Site Redesign
    %p.pt-10 In the summer of 2013 we revamped the entire website to a responsive, image and interaction-heavy application. The main areas of focus were the homepage and the store pages (store home, category pages and product information pages). We went with large images and embedded videos everywhere to sell the quality of GoPro footage.
    %ul.clearing-thumbs.small-block-grid-4{ :data => { "data-clearing" => "true" } }
      %li
        %a{href: "assets/work_thumbnails/gopro/gp-homepage-hero.jpg"}
          %img{src: "assets/work_thumbnails/gopro/gp-homepage-hero-th-sm.jpg"}
      %li
        %a{href: "assets/work_thumbnails/gopro/gp-homepage-hero.jpg"}
          %img{src: "assets/work_thumbnails/gopro/gp-homepage-hero-th-sm.jpg"}
      %li
        %a{href: "assets/work_thumbnails/gopro/gp-homepage-hero.jpg"}
          %img{src: "assets/work_thumbnails/gopro/gp-homepage-hero-th-sm.jpg"}
  .small-12.large-4.columns.bg-gry-lghtr.p-30
    %p.pb-10{style: "font-weight: bold;"} PRACTICE AREAS
    .row
      .small-12.columns
        %h5.pr-5{"data-icon" => "u", style: "display: inline-block; vertical-align: middle;"}
        %p{style: "display: inline-block;"} UX Research
    .row
      .small-12.columns.pt-5
        %h5.pr-5{"data-icon" => "i", style: "display: inline-block; vertical-align: middle;"}
        %p{style: "display: inline-block;"} Information Architecture
    .row
      .small-12.columns.pt-5
        %h5.pr-5{"data-icon" => "w", style: "display: inline-block; vertical-align: middle;"}
        %p{style: "display: inline-block;"} UX/UI Design
    .row
      .small-12.columns.pt-5
        %h5.pr-5{"data-icon" => "z", style: "display: inline-block; vertical-align: middle;"}
        %p{style: "display: inline-block;"} Responsive Design
    .row
      .small-12.columns.pt-5
        %h5.pr-5{"data-icon" => "r", style: "display: inline-block; vertical-align: middle;"}
        %p{style: "display: inline-block;"} Visual Design
    .row
      .small-12.columns.pt-5
        %h5.pr-5{"data-icon" => "x", style: "display: inline-block; vertical-align: middle;"}
        %p{style: "display: inline-block;"} Front-End Development