.bgc-gry-lghtr.p-20.mt-20
  .row
    .small-12.medium-8.columns
      %h1.c-dark-blue GoPro
      %p.mb-0.c-gry
        %small March 2012 - Present
    .small-12.medium-4.columns
      = link_to "http://www.gopro.com", target: "_blank", class: "btn" do
        View Live Site
        %span{"data-icon" => "n", style: "float: right; position: relative;"}
.ptb-30
  .row
    .small-12.large-8.columns
      %p I worked as an UX Designer on web-related projects for GoPro for two years. When I started out, I was working for General Things, their main web development vendor. In October of 2013, General Things was acquired by GoPro and I became a full-time GoPro employee. While working on a small team, I learned to wear a variety of hats and expanded my skills in UX research, information architecture, visual design and front-end development while strengthening my skills in UX design.
      %p Below are a few of the major projects I worked on at GoPro.
      %h5.pt-15.c-blue E-Commerce Site Redesign
      %p.pt-10 In the summer of 2013 we revamped the entire website to a responsive, image and interaction-heavy application. The main areas of focus were the homepage and the store pages (store home, category pages and product information pages). We went with large images and embedded videos everywhere to sell the quality of GoPro footage.
      %ul.medium-block-grid-3.mt-20{"data-clearing" => "true"}
        %li
          %a.th{href: "assets/gopro-ecommerce-gallery/images/gp-homepage-hero.jpg"}
            %img{src: "assets/gopro-ecommerce-gallery/thumbs/gp-homepage-hero.jpg", "data-caption" => "Full page video on the homepage"}
        %li
          %a.th{href: "assets/gopro-ecommerce-gallery/images/gp-mount-carousel.jpg"}
            %img{src: "assets/gopro-ecommerce-gallery/thumbs/gp-mount-carousel.jpg", "data-caption" => "Full page carousel for mounts and accessories"}
        %li
          %a.th{href: "assets/gopro-ecommerce-gallery/images/gp-products-carousel.jpg"}
            %img{src: "assets/gopro-ecommerce-gallery/thumbs/gp-products-carousel.jpg", "data-caption" => "Live text over image carousel for product home"}
        %li
          %a.th{href: "assets/gopro-ecommerce-gallery/images/gp-camera-page.jpg"}
            %img{src: "assets/gopro-ecommerce-gallery/thumbs/gp-camera-page.jpg", "data-caption" => "Camera comparison with variable sized images for camera home"}
        %li
          %a.th{href: "assets/gopro-ecommerce-gallery/images/gp-mounts-page.jpg"}
            %img{src: "assets/gopro-ecommerce-gallery/thumbs/gp-mounts-page.jpg", "data-caption" => "Parallax banner image on mounts home"}
        %li
          %a.th{href: "assets/gopro-ecommerce-gallery/images/gp-sba-picker.jpg"}
            %img{src: "assets/gopro-ecommerce-gallery/thumbs/gp-sba-picker.jpg", "data-caption" => "Selection module to shop by activity"}
        %li
          %a.th{href: "assets/gopro-ecommerce-gallery/images/gp-sba-bundle.jpg"}
            %img{src: "assets/gopro-ecommerce-gallery/thumbs/gp-sba-bundle.jpg", "data-caption" => "Shot of a bundle"}
        %li
          %a.th{href: "assets/gopro-ecommerce-gallery/images/gp-camera-pdp.jpg"}
            %img{src: "assets/gopro-ecommerce-gallery/thumbs/gp-camera-pdp.jpg", "data-caption" => "Product detail page for a camera"}
        %li
          %a.th{href: "assets/gopro-ecommerce-gallery/images/gp-camera-pdp-video.jpg"}
            %img{src: "assets/gopro-ecommerce-gallery/thumbs/gp-camera-pdp-video.jpg", "data-caption" => "Product detail page with embedded video"}
        %li
          %a.th{href: "assets/gopro-ecommerce-gallery/images/responsive-home.jpg"}
            %img{src: "assets/gopro-ecommerce-gallery/thumbs/responsive-home.jpg", "data-caption" => "Fully responsive site (homepage shown here)"}
        %li
          %a.th{href: "assets/gopro-ecommerce-gallery/images/responsive-camera-home.jpg"}
            %img{src: "assets/gopro-ecommerce-gallery/thumbs/responsive-camera-home.jpg", "data-caption" => "Responsive camera home"}
        %li
          %a.th{href: "assets/gopro-ecommerce-gallery/images/sba-resp-wire.png"}
            %img{src: "assets/gopro-ecommerce-gallery/thumbs/sba-resp-wire.jpg", "data-caption" => "Wireframe of Shop by Activity at palm size"}
      %hr
      %h5.pt-15.c-blue Cart &amp; Checkout Redesign
      %p.pt-10 Before we launched the ecommerce redesign, we launched a revamped cart and checkout process. Cart and checkout were controlled by a third party service, and therefore we had limited control over the functionality and look of the cart and checkout pages. We resolved to add a mini-cart to give users feedback when they added an item to the cart, a cleaner cart page that matched the redesign styling and a new, simplified checkout process to maker purchasing more delightful.
      %ul.medium-block-grid-3.mt-20{"data-clearing" => "true"}
        %li
          %a.th{href: "assets/gopro-checkout-gallery/images/cart-wireframes.png"}
            %img{src: "assets/gopro-checkout-gallery/thumbs/cart-wireframes.jpg", "data-caption" => "Wireframes for cart redesign"}
        %li
          %a.th{href: "assets/gopro-checkout-gallery/images/mini-cart.jpg"}
            %img{src: "assets/gopro-checkout-gallery/thumbs/mini-cart.jpg", "data-caption" => "Mini-cart pulled down after adding a camera to the cart"}
        %li
          %a.th{href: "assets/gopro-checkout-gallery/images/login.jpg"}
            %img{src: "assets/gopro-checkout-gallery/thumbs/login.jpg", "data-caption" => "Login screen to checkout (based on business req)"}
        %li
          %a.th{href: "assets/gopro-checkout-gallery/images/three-step.jpg"}
            %img{src: "assets/gopro-checkout-gallery/thumbs/three-step.jpg", "data-caption" => "Three step, fully-visible checkout process"}
        %li
          %a.th{href: "assets/gopro-checkout-gallery/images/show-cart.jpg"}
            %img{src: "assets/gopro-checkout-gallery/thumbs/show-cart.jpg", "data-caption" => "Togglable cart on top to see items"}
        %li
          %a.th{href: "assets/gopro-checkout-gallery/images/completed-step.jpg"}
            %img{src: "assets/gopro-checkout-gallery/thumbs/completed-step.jpg", "data-caption" => "Step completion with summary and edit button"}
        %li
          %a.th{href: "assets/gopro-checkout-gallery/images/cc-recognized.jpg"}
            %img{src: "assets/gopro-checkout-gallery/thumbs/cc-recognized.jpg", "data-caption" => "Automatically recognized credit card type"}
        %li
          %a.th{href: "assets/gopro-checkout-gallery/images/responsive-mini-cart.jpg"}
            %img{src: "assets/gopro-checkout-gallery/thumbs/responsive-mini-cart.jpg", "data-caption" => "Mini-cart adjusts for smaller displays"}
        %li
          %a.th{href: "assets/gopro-checkout-gallery/images/responsive-cart.jpg"}
            %img{src: "assets/gopro-checkout-gallery/thumbs/responsive-cart.jpg", "data-caption" => "Cart and checkout process made fully responsive"}
        %li
          %a.th{href: "assets/gopro-checkout-gallery/images/responsive-edit-item.jpg"}
            %img{src: "assets/gopro-checkout-gallery/thumbs/responsive-edit-item.jpg", "data-caption" => "Cart and checkout process made fully responsive"}
        %li
          %a.th{href: "assets/gopro-checkout-gallery/images/responsive-step-1.jpg"}
            %img{src: "assets/gopro-checkout-gallery/thumbs/responsive-step-1.jpg", "data-caption" => "Checkout steps focused to one at a time"}
        %li
          %a.th{href: "assets/gopro-checkout-gallery/images/responsive-step-2.jpg"}
            %img{src: "assets/gopro-checkout-gallery/thumbs/responsive-step-2.jpg", "data-caption" => "Feedback for completed steps"}
        %li
          %a.th{href: "assets/gopro-checkout-gallery/images/purchase-conf-wires.png"}
            %img{src: "assets/gopro-checkout-gallery/thumbs/purchase-conf-wires.jpg", "data-caption" => "Wireframes for purchase confirmaton"}
      %hr
      %h5.pt-15.c-blue Custom CSS Framework
      %p.pt-10 As the company made shifts toward more state-of-the-art back-end technology, we realized we need a more versatile and customized solution for our front-end styles. Our design group was tasked with creating a custom framework to move our applications off of Twitter Bootstrap. We incorporated <strong>SMACSS architecture</strong>, <strong>BEM syntax</strong> and <strong>atomic classes</strong> with open-source and custom written SCSS to make a full-scale, modular, performant and scalable styling framework that is currently being written into GoPro's new applications.
      %p Since this code and these styles are currently proprietary, I am unable to show any of this work on this site.
      %hr
      %h5.pt-15.c-blue UX Research
      %p.pt-10 Not having any formal research resources, I worked with our product managers to launch a full-scale, UX research program in our department. We conducted remote, unmonitored user testing, interception testing, and in-person, in-house user shadowing sessions. We worked closely with our counterparts at HQ to develop and document a system for defining a test, creating a hypothesis, recruiting and compensating subjects, and compiling and presenting the data in a digestable way.
      %p All of this data is confidential and proprietary, but supplemental photos of the compilation process can be provided in person.
    .small-12.large-4.columns
      %div.p-15.c-blue.b-blue
        %p.pb-10{style: "font-weight: bold;"} PRACTICE AREAS
        .row
          .small-12.columns
            %h5.pr-5{"data-icon" => "i", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} UX Research
        .row
          .small-12.columns.pt-5
            %h5.pr-5{"data-icon" => "k", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} Information Architecture
        .row
          .small-12.columns.pt-5
            %h5.pr-5{"data-icon" => "g", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} UX/UI Design
        .row
          .small-12.columns.pt-5
            %h5.pr-5{"data-icon" => "j", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} Responsive Design
        .row
          .small-12.columns.pt-5
            %h5.pr-5{"data-icon" => "h", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} Visual Design
        .row
          .small-12.columns.pt-5
            %h5.pr-5{"data-icon" => "l", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} Front-End Development