.bgc-gry-lghtr.ptb-20.mt-20
  .row
    .small-12.columns
      %h1.c-dark-blue Pitchbook
      %p.mb-0.c-gry
        %small August 2010 - March 2012
.ptb-30
  .row
    .small-12.large-8.columns
      %p I worked at Pitchbook Data, Inc as a Junior Program Manager right out of college. Pitchbook collects data on private equity and venture capital transactions (as well as all the companies and agencies in the space) and sells access to that information through their online platform. The design challenges in this job came from the heavy nature of the content involved - plotting charts, spreadsheets, downloads, and raw copy in a user-friendly way.
      %p Being a program manager, the responsibilities in this role varied more than my future positions - I was responsible for more print design, business intelligence design, and copywriting than in my future roles.
      %p Because this platform is open only on a subscription basis, I only have a limited amount of visual material to present from my time there.
      %ul.medium-block-grid-3.small-block-grid-3.mt-20{"data-clearing" => "true"}
        %li
          %a.th{href: "assets/pitchbook-gallery/images/pitchbook-chart.jpg"}
            %img{src: "assets/pitchbook-gallery/thumbs/pitchbook-chart.jpg", "data-caption" => "Custom designed chart download"}
    .small-12.large-4.columns
      %div.p-15.c-blue.b-blue
        %p.pb-10{style: "font-weight: bold;"} PRACTICE AREAS
        .row
          .small-12.columns.pt-5
            %h5.pr-5{"data-icon" => "k", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} Information Architecture
        .row
          .small-12.columns.pt-5
            %h5.pr-5{"data-icon" => "g", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} UX/UI Design
        .row
          .small-12.columns.pt-5
            %h5.pr-5{"data-icon" => "h", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} Visual Design