.bgc-gry-lghtr.p-20.mt-20
  .row
    .small-12.medium-8.columns
      %h1.c-dark-blue Tank18
      %p.mb-0.c-gry
        %small November 2012 - April 2013
    .small-12.medium-4.columns
      = link_to "http://www.tank18.com", target: "_blank", class: "btn" do
        View Live Site
        %span{"data-icon" => "n", style: "float: right; position: relative;"}