.bgc-gry-lghtr.ptb-20.mt-20
  .row
    .small-12.columns
      %h1.c-dark-blue WagWag Dog Walkers
      %p.mb-0.c-gry
        %small November 2014 - April 2015
.ptb-30
  .row
    .small-12.large-8.columns
      %p In the fall of 2014, I started a dog walking business three colleagues. I took on the role of CXO, overseeing marketing, design, and the front-end of the website and applications. After a successful launch and staying in business for a few months, the co-founders decided to pursue new avenues of business. We closed the business in April of 2014.
      %h5.pt-15.c-blue Website
      %ul.medium-block-grid-3.small-block-grid-3.mt-20{"data-clearing" => "true"}
        %li
          %a.th{href: "assets/wagwag-gallery/images/wagwag_landing.jpg"}
            %img{src: "assets/wagwag-gallery/thumbs/wagwag_landing.jpg", "data-caption" => "Landing hero on the website"}
        %li
          %a.th{href: "assets/wagwag-gallery/images/wagwag_biz.jpg"}
            %img{src: "assets/wagwag-gallery/thumbs/wagwag_biz.jpg", "data-caption" => "Business introduction and statement"}
        %li
          %a.th{href: "assets/wagwag-gallery/images/wagwag_values.jpg"}
            %img{src: "assets/wagwag-gallery/thumbs/wagwag_values.jpg", "data-caption" => "Perks of the service"}
        %li
          %a.th{href: "assets/wagwag-gallery/images/wagwag_values2.jpg"}
            %img{src: "assets/wagwag-gallery/thumbs/wagwag_values2.jpg", "data-caption" => "Perks of the service"}
        %li
          %a.th{href: "assets/wagwag-gallery/images/wagwag_walker.jpg"}
            %img{src: "assets/wagwag-gallery/thumbs/wagwag_walker.jpg", "data-caption" => "Introduction of our lead walker"}
        %li
          %a.th{href: "assets/wagwag-gallery/images/wagwag_signup.jpg"}
            %img{src: "assets/wagwag-gallery/thumbs/wagwag_signup.jpg", "data-caption" => "Sign up form"}
      %hr
      %h5.pt-15.c-blue Print Collateral
      %ul.medium-block-grid-3.small-block-grid-3.mt-20{"data-clearing" => "true"}
        %li
          %a.th{href: "assets/wagwag-gallery/images/front_orange-01.png"}
            %img{src: "assets/wagwag-gallery/images/front_orange-01.png", "data-caption" => "Orange Business Cards"}
        %li
          %a.th{href: "assets/wagwag-gallery/images/front_gray.png"}
            %img{src: "assets/wagwag-gallery/images/front_gray.png", "data-caption" => "Gray Business Cards"}
        %li
          %a.th{href: "assets/wagwag-gallery/images/back_gray.png"}
            %img{src: "assets/wagwag-gallery/images/back_gray.png", "data-caption" => "Gray Business Cards"}
        %li
          %a.th{href: "assets/wagwag-gallery/images/wagwag_flyer.png"}
            %img{src: "assets/wagwag-gallery/thumbs/wagwag_flyer.jpg", "data-caption" => "February Flyer"}
        %li
          %a.th{href: "assets/wagwag-gallery/images/wagwag_notepad.jpg"}
            %img{src: "assets/wagwag-gallery/thumbs/wagwag_notepad.jpg", "data-caption" => "Walk report notepad"}
    .small-12.large-4.columns
      %div.p-15.c-blue.b-blue
        %p.pb-10{style: "font-weight: bold;"} PRACTICE AREAS
        .row
          .small-12.columns.pt-5
            %h5.pr-5{"data-icon" => "G", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} Co-Founder
        .row
          .small-12.columns.pt-5
            %h5.pr-5{"data-icon" => "g", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} UX/UI Design
        .row
          .small-12.columns.pt-5
            %h5.pr-5{"data-icon" => "h", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} Visual Design
        .row
          .small-12.columns.pt-5
            %h5.pr-5{"data-icon" => "l", style: "display: inline-block; vertical-align: middle;"}
            %p{style: "display: inline-block;"} Front-End Development