.about-container {
  background-color: $gray-lighter;
}

.tp {
  h1 {
    color: $gray-lighter;
  }
  color: $white;
  padding: 40px;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: $gray-darker;
  opacity: 0.9;
}