.contact-container {
	background-image: url('/assets/backgrounds/group.jpg');
  background-size: 100%;
  background-size: cover;
  background-position: 50% 75%;
  background-attachment: fixed;
  background-repeat: no-repeat no-repeat;
  @include box-shadow(inset 0px 2px 5px rgba($black, 0.2), inset 0px -3px 10px rgba($black, 0.4));
	color: $white;
	a {
		color: $white;
    &:hover {
      color: $orangeRed;
    }
	}

  a[data-icon] {
    font-size: 2.5rem;
  }

  .email {
    font-size: 2rem;
    padding-bottom: 10px;
  }
}