// TOP NAVIGATION
////////////////////////////////////////////////////////////////////////////////

// Fix Nav Bar to Top

// Set Up Styles for Nav Bar
.nav__inner {
  padding-top: 20px;
  padding-bottom: 20px;
  color: $parisDarkBlue;
  text-transform: uppercase;
  @extend %novecentosanswide-medium;
  a, li {
    color: $parisDarkBlue;
    &:hover {
      color: $parisRed;
    }
  }
}

// Span Title Section
.nav__title {
  // @include span-columns(3);
}

// Span List Section
.nav__list {
  // @include span-columns(9);
  ul {
    float: right;
    li {
      @include transition(all .2s ease-in-out);
      display: inline-block;
      vertical-align: middle;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 24px;
    }
    li:last-of-type {
      padding-right: 0px;
    }
  }
}
