.piece {
  @include transition(all .2s ease-in-out);
  background-color: $gray-lighter;
  border: 2px solid $white;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 175px;
  background-position: center;
  &:before {
    content: "";
    display: block;
    padding-top: 35%;
  }
  &.gopro-redesign {
    background-image: url('/assets/work_thumbnails/GoPro_Logo-black.svg');
    // filter: url(filters.svg#grayscale);
    // filter: gray;
    // -webkit-filter: grayscale(1);
    // &:hover {
    //   filter: none;
    //   -webkit-filter: grayscale(0);
    // }
  }
  &.five9 {
    background-image: url('/assets/work_thumbnails/five9-logo.png');
    background-size: 125px;
    // filter: url(filters.svg#grayscale);
    // filter: gray;
    // -webkit-filter: grayscale(1);
    // &:hover {
    //   filter: none;
    //   -webkit-filter: grayscale(0);
    // }
  }
  &.pop {
    background-image: url('/assets/work_thumbnails/pop-logo.png');
    // filter: url(filters.svg#grayscale);
    // filter: gray;
    // -webkit-filter: grayscale(1);
    // &:hover {
    //   filter: none;
    //   -webkit-filter: grayscale(0);
    // }
  }
  &.spudmarine {
    background-image: url('/assets/work_thumbnails/nested-j-thumb.jpg');
  }
  &.gopro-checkout {
    background-image: url('/assets/work_thumbnails/gopro-checkout-thumb.jpg');
  }
  &.tank18 {
    background-image: url('/assets/work_thumbnails/tank-logo.svg');
    // filter: url(filters.svg#grayscale);
    // filter: gray;
    // -webkit-filter: grayscale(1);
    // &:hover {
    //   filter: none;
    //   -webkit-filter: grayscale(0);
    // }
  }
  &.pitchbook {
    background-image: url('/assets/work_thumbnails/pitchbook-logo.png');
    // filter: url(filters.svg#grayscale);
    // filter: gray;
    // -webkit-filter: grayscale(1);
    // &:hover {
    //   filter: none;
    //   -webkit-filter: grayscale(0);
    // }
  }
  &.excel {
    background-image: url('/assets/work_thumbnails/excel-logo.png');
    // filter: url(filters.svg#grayscale);
    // filter: gray;
    // -webkit-filter: grayscale(1);
    // &:hover {
    //   filter: none;
    //   -webkit-filter: grayscale(0);
    // }
  }
}

a.piece:hover {
  background-color: $light-gray;
  cursor: pointer;
}

li a.piece {
  display: block;
}

[class*="block-grid-"] > li {
  padding: 0px;
}