.piece {
  @include transition(all .2s ease-in-out);
  background-color: $gray-lighter;
  border: 2px solid $white;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 175px;
  background-position: center;
  &:before {
    content: "";
    display: block;
    padding-top: 35%;
  }
  &.gopro-redesign {
    background-image: url('/assets/logos/GoPro_Logo-black.svg');
  }
  &.five9 {
    background-image: url('/assets/logos/five9-logo.png');
    background-size: 125px;
  }
  &.pop {
    background-image: url('/assets/logos/pop-logo.png');
  }
  &.spudmarine {
    background-image: url('/assets/logos/nested-j-thumb.jpg');
  }
  &.gopro-checkout {
    background-image: url('/assets/logos/gopro-checkout-thumb.jpg');
  }
  &.tank18 {
    background-image: url('/assets/logos/tank-logo.svg');
  }
  &.pitchbook {
    background-image: url('/assets/logos/pitchbook-logo.png');
  }
  &.excel {
    background-image: url('/assets/logos/excel-logo.png');
  }
  &.bloom {
    background-image: url('/assets/logos/bloom-logo-gray.svg');
  }
}

a.piece:hover {
  background-color: $light-gray;
  cursor: pointer;
}

li a.piece {
  display: block;
}

[class*="block-grid-"] > li {
  padding: 0px;
}