.portfolio {
  margin-top: 30px;
  margin-bottom: 50px;
}

.piece {
  @include transition(all .2s ease-in-out);
  background-color: $gray-lighter;
  border: 2px solid $white;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 175px;
  background-position: center;
  &:before {
    content: "";
    display: block;
    padding-top: 35%;
  }
  &.wagwag {
    background-image: url('/assets/logos/wagwag-logo.svg');
  }
  &.gopro {
    background-image: url('/assets/logos/GoPro_Logo-black.svg');
  }
  &.five9 {
    background-image: url('/assets/logos/five9-logo.png');
    background-size: 125px;
  }
  &.pop {
    background-image: url('/assets/logos/pop-logo.png');
  }
  &.pitchbook {
    background-image: url('/assets/logos/pitchbook-logo.png');
  }
  &.bloom {
    background-image: url('/assets/logos/bloom-logo-gray.svg');
    background-size: 300px;
  }
}

.piece:hover {
  background-color: $light-gray;
  cursor: pointer;
}

li a .piece {
  display: block;
}

ul[class*="block-grid-"].port-grid > li {
  padding: 0px;
}