// NOVECENTO FONTS
@font-face {
  font-family: 'Novecentowide-Bold', Arial, sans-serif;
  src: asset_url('288FCB_0_0.eot', fonts);
  src: asset_url('288FCB_0_0.eot?#iefix', fonts) format('embedded-opentype'),
    asset_url('288FCB_0_0.woff', fonts) format('woff'),
    asset_url('288FCB_0_0.ttf', fonts) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecentowide-DemiBold', Arial, sans-serif;
  src: asset_url('288FCB_1_0.eot', fonts);
  src: asset_url('288FCB_1_0.eot?#iefix', fonts) format('embedded-opentype'),
    asset_url('288FCB_1_0.woff', fonts) format('woff'),
    asset_url('288FCB_1_0.ttf', fonts) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecentowide-Book', Arial, sans-serif;
  src: asset_url('288FCB_2_0.eot', fonts);
  src: asset_url('288FCB_2_0.eot?#iefix', fonts) format('embedded-opentype'),
    asset_url('288FCB_2_0.woff', fonts) format('woff'),
    asset_url('288FCB_2_0.ttf', fonts) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecentowide-Normal', Arial, sans-serif;
  src: asset_url('288FCB_3_0.eot', fonts);
  src: asset_url('288FCB_3_0.eot?#iefix', fonts) format('embedded-opentype'),
    asset_url('288FCB_3_0.woff', fonts) format('woff'),
    asset_url('288FCB_3_0.ttf', fonts) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecentowide-Medium', Arial, sans-serif;
  src: asset_url('288FCB_4_0.eot', fonts);
  src: asset_url('288FCB_4_0.eot?#iefix', fonts) format('embedded-opentype'),
    asset_url('288FCB_4_0.woff', fonts) format('woff'),
    asset_url('288FCB_4_0.ttf', fonts) format('truetype');
  font-weight: normal;
  font-style: normal;
}

// FONT ICONS
@font-face {
  font-family: 'icomoon'
}