@include keyframes(triangle-rotate) {
 0% {transform: rotate(0deg); -webkit-transform: rotate(0deg); transform-origin: 28% 38%; -webkit-transform-origin: 28% 38%; -ms-transform-origin: 28% 38%;}
 100% {transform: rotate(120deg); -webkit-transform: rotate(120deg);  transform-origin: 28% 38%; -webkit-transform-origin: 28% 38%; -ms-transform-origin: 28% 38%;}
}
