// COLORS
//
////////////////////////////////////////////////////////////////////////////////

// FONT COLORS
.c-beige     { color: $parisBeige; }
.c-blue      { color: $parisBlue; }
.c-dark-blue { color: $parisDarkBlue; }
.c-red       { color: $parisRed; }

.c-gry          { color: $gray; }
.c-gry-drk      { color: $gray-dark; }