@mixin stratum {
  width: 100%;
}

@mixin stratumColor($color) {
  background-color: $color;
}



@mixin button-style($color, $hoverColor, $background, $hoverBg, $border, $hoverBorder) {
  color: $color;
  background-color: $background;
  border-color: $border;
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $hoverColor;
    background-color: $hoverBg;
        border-color: $hoverBorder;
  }
  .open & { &.dropdown-toggle {
    color: $hoverColor;
    background-color: $hoverBg;
        border-color: $hoverBorder;
  } }
  &:active,
  &.active {
    background-image: none;
  }
  .open & { &.dropdown-toggle {
    background-image: none;
  } }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $gray;
      background-color: $background;
          border-color: $gray; 
    }
  }
}