// BODY
//
////////////////////////////////////////////////////////////////////////////////
body {
  margin: 0px;
}

// BACKGROUND COLORS
//
////////////////////////////////////////////////////////////////////////////////
.bg-dp, %bg-dp    { background-color: $darkPurple; }
.bg-p, %bg-p      { background-color: $purple; }
.bg-lp, %bg-lp    { background-color: $lightPurple; }
.bg-lrp, %bg-lrp  { background-color: $lighterPurple; }
.bg-c, %bg-c      { background-color: $cream; }



// PADDING
//
////////////////////////////////////////////////////////////////////////////////

// No Padding
.p-0, %p-0   { padding: 0px; }
.pt-0, %pt-0 { padding-top: 0px; }
.pr-0, %pr-0 { padding-right: 0px; }
.pb-0, %pb-0 { padding-bottom: 0px; }
.pl-0, %pl-0 { padding-left: 0px; }
.prl-0 { 
  @extend %pr-0;
  @extend %pl-0;
}
.ptb-0 {
  @extend %pt-0;
  @extend %pb-0;
}

// 5px Padding
.p-5, %p-5   {padding: 5px; }
.pt-5, %pt-5 {padding-top: 5px; }
.pr-5, %pr-5 {padding-right: 5px; }
.pb-5, %pb-5 {padding-bottom: 5px; }
.pl-5, %pl-5 {padding-left: 5px; }
.prl-5 {
  @extend %pr-5;
  @extend %pl-5;
}
.ptb-5 {
  @extend %pt-5;
  @extend %pb-5;
}

// 10px Padding
.p-10, %p-10   { padding: 10px; }
.pt-10, %pt-10 { padding-top: 10px; }
.pl-10, %pl-10 { padding-left: 10px; }
.pr-10, %pr-10 { padding-right: 10px; }
.pb-10, %pb-10 { padding-bottom: 10px; }
.prl-10 { 
  @extend %pl-10;
  @extend %pr-10;
}
.ptb-10 {
  @extend %pt-10;
  @extend %pb-10;
}

// 15px Padding
.p-15, %p-15   { padding: 15px; }
.pt-15, %pt-15 { padding-top: 15px;}
.pl-15, %pl-15 { padding-left: 15px; }
.pr-15, %pr-15 { padding-right: 15px; }
.pb-15, %pb-15 { padding-bottom: 15px; }
.prl-15 { 
  @extend %pl-15;
  @extend %pr-15;
}
.ptb-15 {
  @extend %pt-15;
  @extend %pb-15;
}

// 20px Padding
.p-20, %p-20   { padding: 20px; }
.pt-20, %pt-20 { padding: 20px; }
.pl-20, %pl-20 { padding-left: 20px; }
.pr-20, %pr-20 { padding-right: 20px; }
.pb-20, %pb-20 { padding-bottom: 20px; }
.prl-20 { 
  @extend %pl-20;
  @extend %pr-20;
}
.ptb-20 {
  @extend %pt-20;
  @extend %pb-20;
}

// 30px Padding
.p-30, %p-30   { padding: 30px; }
.pt-30, %pt-30 { padding-top: 30px; }
.pl-30, %pl-30 { padding-left: 30px; }
.pr-30, %pr-30 { padding-right: 30px; }
.pb-30, %pb-30 { padding-bottom: 30px; }
.prl-30 { 
  @extend %pl-30;
  @extend %pr-30;
}
.ptb-30 {
  @extend %pt-30;
  @extend %pb-30;
}



// MARGINS
//
////////////////////////////////////////////////////////////////////////////////

// No Margin
.m-0, %m-0   { margin: 0px; }
.mt-0, %mt-0 { margin-top: 0px; }
.mr-0, %mr-0 { margin-right: 0px; }
.mb-0, %mb-0 { margin-bottom: 0px; }
.ml-0, %ml-0 { margin-left: 0px; }
.mrl-0 { 
  @extend %mr-0;
  @extend %ml-0;
}
.mtb-0 {
  @extend %mt-0;
  @extend %mb-0;
}

// 5px Margin
.m-5, %m-5   { margin: 5px; }
.mt-5, %mt-5 { margin-top: 5px; }
.mr-5, %mr-5 { margin-right: 5px; }
.mb-5, %mb-5 { margin-bottom: 5px; }
.ml-5, %ml-5 { margin-left: 5px; }
.mrl-5 {
  @extend %mr-5;
  @extend %ml-5;
}
.mtb-5 {
  @extend %mt-5;
  @extend %mb-5;
}

// 10px Margin
.m-10, %m-10   { margin: 10px; }
.mt-10, %mt-10 { margin-top: 10px; }
.mr-10, %mr-10 { margin-right: 10px; }
.mb-10, %mb-10 { margin-bottom: 10px; }
.ml-10, %ml-10 { margin-left: 10px; }
.mrl-10 {
  @extend %mr-10;
  @extend %ml-10;
}
.mtb-10 {
  @extend %mt-10;
  @extend %mb-10;
}

// 15px Margin
.m-15, %m-15   { margin: 15px; }
.mt-15, %mt-15 { margin-top: 15px; }
.mr-15, %mr-15 { margin-right: 15px; }
.mb-15, %mb-15 { margin-bottom: 15px; }
.ml-15, %ml-15 { margin-left: 15px; }
.mrl-15 {
  @extend %mr-15;
  @extend %ml-15;
}
.mtb-15 {
  @extend %mt-15;
  @extend %mb-15;
}

// 20px Margin
.m-20, %m-20   { margin: 20px; }
.mt-20, %mt-20 { margin-top: 20px; }
.mr-20, %mr-20 { margin-right: 20px; }
.mb-20, %mb-20 { margin-bottom: 20px; }
.ml-20, %ml-20 { margin-left: 20px; }
.mrl-20 {
  @extend %mr-20;
  @extend %ml-20;
}
.mtb-20 {
  @extend %mt-20;
  @extend %mb-20;
}

// 25px Margin
.m-25, %m-25        { margin: 25px; }
.mt-25, %mt-25    { margin-top: 25px; }
.mr-25, %mr-25  { margin-right: 25px; }
.mb-25, %mb-25 { margin-bottom: 25px; }
.ml-25, %ml-25   { margin-left: 25px; }
.mrl-25 {
  @extend %mr-25;
  @extend %ml-25;
}
.mtb-25 {
  @extend %mt-25;
  @extend %mb-25;
}



// Purple HR
////////////////////////////////////////////////////////////////////////////////
// TODO: Move
hr.crm {
  // margin-top:    $line-height-computed;
  // margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $cream;
  // @include opacity(.2)
}
