.navbar-clear { padding-top: 50px; }

.stratum {
  @include stratum;
}

.stratum-image {
  @include stratumColor($white);
  background-size: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @extend .stratum;
}

.stratum-darkPurple {
  @include stratumColor($darkPurple);
  @extend .stratum;
}

.stratum-purple {
  @include stratumColor($purple);
  @extend .stratum;
}

