// TYPOGRAPHY
//
//////////////////////////////////////////////////////////////////////

// DARK LINKS
a.link-dark,
a:active.link-dark,
a:focus.link-dark {
	color: $white;
	&:hover {
    color: $lightBlue;
  }
}

// TEXT ALIGN
.ta-r, %ta-r { text-align: right; }
.ta-l, %ta-l { text-align: left; }
.ta-c, %ta-c { text-align: center; }