.hero-font {
  text-transform: uppercase;
  font-size: 4em;
  font-family: $novecentosanswide-light;
  line-height: 0.5em;
}

.hero-font--gray {
  text-transform: uppercase;
  color: $gray-light;
}

.hero-font--white {
  text-transform: uppercase;
  color: $white;
}

.link-dark {
	color: $white;
}

.ta-r {
  text-align: right;
}