// TYPOGRAPHY
//
//////////////////////////////////////////////////////////////////////

// TEXT ALIGN
.ta-r, %ta-r { text-align: right; }
.ta-l, %ta-l { text-align: left; }
.ta-c, %ta-c { text-align: center; }