@media all and (min-width: $lap-min) {
  h1 { 
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 { 
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .hero-font {
  	font-size: 6rem;
  	line-height: 6rem;
  }

  .page-jump {
  	font-size: 2.5rem;
  	line-height: 2.5rem;
  }

  .hero-padding {
    padding-top: 17.75rem;
    padding-bottom: 14.25rem;
  }

  .piece {
    background-size: 225px;
    &:before {
      padding-top: 75%;
    }
  }

  .contact-container {

    a[data-icon] {
      font-size: 6rem;
    }

    .email {
      font-size: 2rem;
      line-height: 6rem;
      padding-bottom: 0px;
    }
  }
}